/*body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}*/

.App {
  text-align: center;
  background-color: #ABAFD9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7d8;
  color: black;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  margin-right: 10px;
}

.centered-element {
  flex: 1;
  text-align: center;
}

.centered-element h1 {
  margin: 0;
}


.slideshow {
  position: relative;
  margin: 20px auto 0;
  width: 600px;
}

.slide-img {
  width: 100%;
  height: auto;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #d7d7d8;
}

.discover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.discover {
  position: relative;
  margin-bottom: 20px;
}

.oval {
  width: 300px;
  height: 120px;
  border-radius: 60px;
  background-color: #d7d7d8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.line {
  position: absolute;
  width: calc(50% - 160px);
  height: 2px;
  background-color: #d7d7d8;
  top: 50%;
  transform: translateY(-1px);
}
.cards img {
  width: 150px; 
  height: 100px;; 
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;  
  grid-row-gap: 20px;
  justify-content: space-between; 
  margin-top: 50px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.card {
  padding: 20px;
  background-color: #d7d7d8;
  border-radius: 10px;
  margin: 0 10px;
  height: auto;
}

.error {
  color:red;
  text-decoration: underline;
}