/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/App.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  text-align: center;
  background-color: #ABAFD9;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7d8;
  color: black;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  margin-right: 10px;
}

.centered-element {
  flex: 1 1;
  text-align: center;
}

.centered-element h1 {
  margin: 0;
}


.slideshow {
  position: relative;
  margin: 20px auto 0;
  width: 600px;
}

.slide-img {
  width: 100%;
  height: auto;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.cards img {
  width: 150px; /* Set the width of the images */
  height: auto; /* Maintain aspect ratio */
}
.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #d7d7d8;
}

.discover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.discover {
  position: relative;
  margin-bottom: 20px;
}

.oval {
  width: 300px;
  height: 120px;
  border-radius: 60px;
  background-color: #d7d7d8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.line {
  position: absolute;
  width: calc(50% - 160px);
  height: 2px;
  background-color: #d7d7d8;
  top: 50%;
  transform: translateY(-1px);
}

.cards {
  margin-top: 50px; 
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 50px;
 
}

.card {
  flex: 1 1;
  max-width: 200px;
  padding: 20px;
  background-color: #d7d7d8;
  border-radius: 10px;
  margin: 0 10px;
  
}

